.advNavbar{
    width: 100%;
}

.advNavLink{
    color: antiquewhite;
    font-weight: bold;
}

.advNavBackground{
    opacity: 1.0;
    background: linear-gradient(90deg, rgba(164,5,14,1) 0%, rgba(133,17,204,0.5299253490458684) 53%, rgba(82,172,244,1) 100%); 
}

A.advactiveNav{
    box-shadow: 0px 10px 10px rgb(38, 240, 24) !important;
    border: none !important;
}